.square {
    -fx-border-style: solid;
    -fx-background-color: white;
}

.denied{
    -fx-background-color: black;
}

.selected {
    -fx-background-color: lavender;
}

.selectable {
    -fx-border-width: 4;
    -fx-border-color: Maroon;
    -fx-border-style: dashed;
}

.square:hover {
    -fx-background-color: NavajoWhite ;
}

.grid{
    -fx-border-color: black;
    -fx-border-width: 2;
}

.border{
    -fx-background-color: lightgray;
}